<label for=categorie class="block font-medium leading-8 text-gray-700">Catégorie :</label>
<select id="categorie" name="categorie" placeholder="Sélectionner une catégorie" autocomplete="Veuillez choisir une catégorie" >
    <option>--Sélectionner une catégorie--</option>
   
</select>