<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <div class="antialiased bg-gray-300 dark-mode:bg-gray-900">
    <div x-data="{ open: true }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
      <div class="flex flex-row items-center justify-between p-4">
        <a href="/" class="flex">
            <img class="mx-auto h-16 w-auto rounded-full" src="/images/logo_rl_plein.jpg" alt="Workflow">
        </a>        
      </div>
      <div class="ml-3">
          <button type="button" class="text-white bg-teal-600 hover:bg-teal-500 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-greblueen-800" onclick="window.location.href='/users/login'">Se connecter</button>   
      </div>
    </div>
  </div>
