<label for=language class="block font-medium leading-8 text-gray-700">Langue :</label>
<select id="language" name="language" autocomplete="Veuillez choisir une langue">
    <option value="">--Sélectionner une langue--</option>
</select>