<label for=type_relation class="block font-medium leading-8 text-gray-700">Type relation :</label>
<select id="type_relation" name="type_relation" autocomplete="Veuillez choisir un type-relation">
    <option value="">--Sélectionner un type relation--</option>
    
</select>